

<div class="container" style="padding:20px">
<div class='row'>
  

<div class="col-sm-6" *ngFor="let product of list">
            <div class="card" style="width: 18rem;">
                <img 
                style='width:100px; height:100px'
                src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-collection-1_large.png?format=jpg&quality=90&v=1530129113" 
                class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ product.productName }}</h5>
                  <p class="card-text">{{ product.productDesc }}</p>
                  <p class="card-text">{{ product.mrp }}</p>
                  <p class="card-text">{{ product.category }}</p>
                  <a (click)="toCartScreen(product.id)" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
      </div>

</div>
